RewriteEngine On

RewriteRule ^series/(.*)$ series.php?id=$1 [NC,L]
RewriteRule ^movies/(.*)$ movies.php?id=$1 [NC,L]

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

Redirect 301 /index.php /home
