RewriteEngine on
Redirect "/index.php" "/home"

RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteRule ^persons/(.*)$ persons.php?id=$1 [NC,L]
RewriteRule ^movies/(.*)$ movies.php?id=$1 [NC,L]
RewriteRule ^series/(.*)$ series.php?id=$1 [NC,L]
RewriteRule ^genres/(.*)$ genres.php?id=$1 [NC,L]
RewriteRule ^collections/(.*)$ collections.php?id=$1 [NC,L]

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
