:root {
    --dark-color: #111111;
    --theme-color: #14AB95;
    --small-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, .63);
    --large-box-shadow: 0px 0px 21px -3px rgba(0, 0, 0, .63);
}

* {
    box-sizing: border-box;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--dark-color);
    color: rgba(255, 255, 255, .5);
    font: 400 16px/20px "Hylery", system-ui, sans-serif;
    margin: 0px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

img {
    display: block;
    height: auto;
    width: 100%;
}

#header, #nav {
    align-items: center;
    background: var(--dark-color);
    display: flex;
    color: rgba(255, 255, 255, .5);
    padding: 12px;
}

#header {
    justify-content: space-between;
    z-index: 2;
}

#nav {
    bottom: 0px;
    box-shadow: var(--large-box-shadow);
    justify-content: center;
    left: 0px;
    position: fixed;
    right: 0px;
    width: 100%;
    z-index: 2;
}

.logo, .nav-link, .nav-button {
    display: block;
    font-weight: 700;
    z-index: 3;
}

.logo {
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 24px;
    padding: 8px;
    user-select: none;
}

.nav-link {
    margin: 0px 4px;
    padding: 8px;
    user-select: none;
}

.nav-link.active {
    color: rgb(255, 255, 255);
}

.nav-button {
    background: var(--theme-color);
    border: 2px solid var(--theme-color);
    border-radius: 8px;
    color: var(--dark-color);
    cursor: pointer;
    margin: 4px 8px;
    padding: 4px 8px;
    user-select: none;
}

.nav-button:hover {
    background: none;
    color: var(--theme-color);
}

.section {
    margin: 84px auto;
    max-width: 1660px;
}

.section.limited {
    max-width: 1250px;
}

.section-name {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin: 20px;
}

.section-content {
    margin: 20px;
}

.link, .link.important {
    color: var(--theme-color);
    font-weight: 700;
    margin: 20px 0px;
    user-select: none;
    width: fit-content;
}

.link.important {
    display: block;
}

.button {
    background: var(--theme-color);
    border: 2px solid var(--theme-color);
    border-radius: 8px;
    color: var(--dark-color);
    cursor: pointer;
    display: block;
    font: inherit;
    font-weight: 700;
    margin: 8px 0px;
    padding: 4px 8px;
    user-select: none;
    width: fit-content;
}

.button:hover {
    background: none;
    color: var(--theme-color);
}

.movies-list, .series-list {
    display: flex;
    margin: 0px;
    overflow-x: auto;
    padding: 0px 20px;
}

.movies-list::-webkit-scrollbar, .series-list::-webkit-scrollbar {
    display: none;
}

.movie-container, .series-container {
    padding-right: 20px;
}

.movie, .series {
    border-radius: 8px;
    box-shadow: var(--small-box-shadow);
    display: block;
    width: 140px;
    overflow: hidden;
}

.request-form
{
    max-width: 490px;
}

.form-fieldset {
    border: none;
    margin: 14px 0px;
    padding: 0px;
}

.form-fieldset-input {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    color: var(--dark-color);
    cursor: text;
    display: block;
    height: 56px;
    padding: 20px 14px 8px;
    width: 100%;
}

.form-fieldset-legend {
    color: rgb(119, 119, 119);
    font-size: 12px;
    left: 0px;
    padding: 3px 14px;
    position: absolute;
    right: 0px;
    top: 0px;
    user-select: none;
    width: fit-content;
}

.request-switcher {
    display: grid;
    grid-column-gap: 14px;
    grid-template-columns: 100fr 100fr;
}

.switch-el {
    background-color: rgb(255, 255, 255);
    border-radius: 9px;
    box-shadow: rgba(154, 160, 185, 0.05) 0px 5px 5px 0px, rgba(166, 173, 201, 0.22) 0px 5px 30px;
    display: block;
    margin: 14px 0px;
    overflow: hidden;
}

.switch-el input {
    position: absolute;
    visibility: hidden;
}

.switch-el label {
    color: var(--dark-color);
    cursor: pointer;
    display: block;
    font-weight: 700;
    padding: 10px 20px;
    width: 100%;
    overflow: hidden;
}

.switch-el input:checked ~ label {
    background-color: var(--theme-color);
}

#title-page .intro {
    margin: 0px auto;
}

#title-page .title {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

#title-page .poster-container {
    align-items: center;
    display: flex;
    justify-content: center;
}

#title-page .poster {
    border-radius: 8px;
    box-shadow: var(--large-box-shadow);
    margin-top:  0px;
    overflow: hidden;
    width: 240px;
}

#title-page .grade {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 50px 80px 50px 50px;
    height: 50px;
}

#title-page .grade-design, .grade-help {
    align-items: center;
    display: flex;
    justify-content: center;
}

#title-page .grade-design {
    border-radius: 50%;
    border: 3px solid var(--theme-color);
    color: rgb(255, 255, 255);
    font-weight: 700;
}

#title-page .feature {
    align-items: center;
    background: var(--dark-color);
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    display: flex;
    fill: currentColor;
    font-size: 20px;
    font-weight: 700;
    justify-content: center;
    line-height: 24px;
}

#title-page .feature svg {
    fill: inherit;
    width: 16px;
}

#title-page .feature:hover {
    background: rgb(255, 255, 255);
    color: var(--dark-color);
}

#title-page .feature.checked {
    color: var(--theme-color);
}

@media all and (min-width: 600px) {
    #nav {
        background: none;
        box-shadow: none;
        height: 100%;
        position: absolute;
        top: 0px;
        z-index: initial;
    }

    .section-name {
        font-size: 24px;
        line-height: 28px;
    }

    .movie, .series {
        width: 162.5px;
    }

    #title-page .poster {
        width: 300px;
    }

    #title-page .title {
        font-size: 28px;
        line-height: 32px;
    }
}

@media all and (min-width: 900px) {
    .movie, .series {
        width: 185px;
    }

    #title-page .intro {
        display: grid;
        grid-template-columns: 320px 100fr;
    }

    #title-page .title {
        font-size: 36px;
        line-height: 40px;
    }

    #title-page .poster {
        margin-right: 0px;
        width: 100%;
    }
}
